title = "User Access Node (UAN)"
theme = "hugo-theme-learn"
baseURL = "/docs-uan/"
languageCode = "en-US"
defaultContentLanguage = "en-{{ releases[0].translate(translation) }}"
defaultContentLanguageInSubdir = true

[outputs]
home = ["HTML", "RSS", "JSON" ]

[params]
themeVariant = "green"
collapsibleMenu = true
disableNextPrev = true
disableLandingPageButton = true
disableBreadcrumb = false
showVisitedLinks = false
ordersectionsby = "weight"

[languages]
{%- for rel in releases %}
  [languages.en-{{ rel.translate(translation) }}]
    contentDir = "content/{{ rel }}"
    languageName = "{{ rel }}"
    weight = {{ releases.index(rel) + 1 }}
    landingPageURL = "/docs-uan/en-{{ rel.translate(translation) }}"
{%- endfor %}
